<h1>Overall Career Goal:</h1>
<p>Succeed in my Startup, Solidify my Commitment in Founders by Obtaining Funding From Investors/Corporate, Academia, 
    Govermental and Non Profit Sectors.</p>


<h3>Short-Term Career Goals:</h3>
<p>Secure investors, seek funding in grants for Startups. Create prototype of website and PWA for Investors of Startup. 
    Establish Startup (Datum Victual) fully remote (with exception of hardware hands on duties) and mainly using AI/ML technology. 
    Work closely with the SBA to obtain business plans and profit forecasts.</p>

<h3>
Long-Term Career Goals:</h3>

<p>For my company to go global and successful. Having hands on experience with another company will help.</p>


<h3>List and track your time-specific career goals.</h3>


<h4>One-Year Goals:</h4>					
 <ul><li>Win First Cybersecurity Competition</li>
 <li>Finish Advanced Cybersecurity Certificate from CCSF</li>

<li> Get Funded and Launch App</li>
</ul>

<h4>Three-Year Goals:</h4>
 <ul><li>My company is growing and gets translated in major spoken languages of the world.</li>
 <li>My company has millions of users.</li>
 <li>Have seven years of experienced in the tech field.</li>
 <li>Have a full set of Co-Founders and investors for Startup.</li> </ul>
 

<h4>Five-Year Goals:</h4>
 <p>Maybe start a PhD in Biostatistical Astrophysics.
 My company can go public and is worth millions. Maybe hire teams (Nodes) in many parts of the world.  
Get published, research Quantum Computing, Become an AI/ML-Cybersecurity Master. Have many subsidiaries to company and give back 
through non profits to under deserved community (women and people of color) in tech.  </p>
