<div class="center"><a [class.logo]="myh1">WELCOME TO DATUM VICTUAL</a>
<a (click)="justClick()"></a>
</div>
<h2 [class.logo]="myh1">A Company in the Heart of the Food Industry Re Defining Victual (Fancy Word for Food).</h2>
<body>
    <h3>MISSION STATEMENT</h3>
    <p>The main purpose of Datum Victual is to provide an open source software for family owned and small grocery stores and/or their chains 
        to be able to take inventory, manage their personnel, keep their books, sell their products online, deliver groceries to their customers and provide a 
        comprehensive grocery store software that they could otherwise not afford themselves. The one thing that the pandemic taught us is that this software does not exist for the 
        small business grocery store sector and it is an essential part of survival in a planet plagued by pandemics and natural distasters. 
        This software would keep in mind the seniors (in its ability to aid in large text and proper lighting effects), make it super user 
        friendly in its User Experience (UX/UI) design. It will adhere to all US Disability Standards in the user experience. 
        The software has plans to also add similar free to use platforms for: caterers, liquor stores, food trucks, non corporate gas stations 
        (it would deliver gas in the case of true emergencies only). </p>
        <p>I would tap into all of my contacts all over the world to make into five of the top spoken languages of 
            the world as I can already make it into three of some of the top spoken languages of the world. The software will support 
            itself with ads from the companies that sell their products in these business. The software willl also compensate the consumer 
        with a reward system whilst obtaining their data in the process and thus respecting private citizen data and their ownership. 
        We would be the new benchmark, and stewards, of the right to the private citizens' data and its true value to the industry. 
        We would adhere to European private citizen data laws while keeping a fine balance with corporate minded (capitalist minded) 
        North American laws. We would follow Consumer Privacy Data laws following European standards in countries where Consumer Privacy 
        Data laws do not exist.

     
    </p>
<h4>THIS SOFTWARE IS NOT A BUSINESS IDEA AND WILL HAVE A NON PROFIT BRANCH TO IT. THIS SOFTWARE IS LONG OVERDUE AND CAN HELP SAVE MILLIONS OF LIFE.</h4>
<h3 href="https://ada-jacques-leahy.com/" target="_blank">Ada Jacques' Titles Held in the Company:</h3>
<p>Founder, CEO, Data Scientist (Data Analyst, Data Engineer, Business System Analyst, Systems Analyst, and IT Analyst), 
FS and AI Software Engineer, QA Software Engineer, IT Network Security Engineer, Database Management, Cybersecurity Analyst</p> 

<h5>Skills and Certifications Required:</h5>
<ul><li>R-Machine Learning</li> 
    <li>Tableau/MS BI Tools</li>
    <li>Computer Vision</li>
    <li>Python-AI, Cybersecurity, Numerical Analysis</li>
    <li>PostgreSQL (SQL)</li>
    <li>PHP</li>
    <li>Express on Heroku/Github</li>
    <li>ASP.NET</li>
    <li>PWA’s-Node.js/Bootstrap</li>
    <li>FOSS GIS</li>
    <li>Angular.js</li>
<li>Java</li> 
<li>Swift</li> 
<li>AZURE</li>
<li>SQL-PostGreSQL</li>
<li>Certified Information Systems Security Professional (CISSP)</li> 
<li>Project Management Professional (PMP)</li></ul>

<h5>Job Positions Available:</h5>
<p>QA Software Engineer, IT Network Security Engineer, Database Management, Cybersecurity Analyst</p>

<h5>Targeted Companies on A Global Scale:</h5>
<p>Food and Service Industry; Small Family Owned Grocery Stores and/or Chains; Food Trucks: Liquor Stores; Non Corporate 
    Gas Stations, Catering Companies; 
    Non Profit Sector; Academia Sector; Government Sector</p>

<h5>Startup Seed Money Needed by the end of 2023:</h5>
<p>400 Hundred Thousand US Dollars in Salaries and 100 Hundred Thousand Dollars in Hardware Totalling 500 Hundred Thousand Dollars</p>



<h5>Potential Co-Founders and Their Affiliation(s)</h5>

<p><a>Breno Passos - BayBrazil</a></p> 



<h5>Action Plan:</h5>
<ul><li>Deploy Angular App/Software</li>

<li>Seek Tech Startup Business Grants</li>
<li>Create Business Plan</li>
<li>Network</li>
<li>Seek Investors in Food Industry</li>
<li>Continue Training on Investors, Seek Co-Founders</li>
<li>Attend Conferences/Webinars and Read Articles in Fintech/Tech to Stay Up to date.</li></ul>

</body>
